<!DOCTYPE html>
<html>
    {% from 'admin/sidebar.html' import sidebar with context %}
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
              content="{{ response.content_type }}; charset={{ response.charset }}"/>
        <meta name="description" content="The Administration System and Interface of PanjieSW Blog"/>
        <meta name="author" content="PanjieSW @panjiesw"/>
        <title>PanjieSW Blog Admin Interface</title>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ tg.url('/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ tg.url('/css/bootstrap-responsive.min.css') }}" />
        <style type="text/css">
            body {
                padding-top: 60px;
                background-color: #d9d9d9;
            }

            .sidebar-nav {
                padding: 9px 0;
            }

            .crd_table, .crd_edit, .crd_new,  #btn_new {
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{{ tg.url('/') }}">PanjieSW Blog</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="{{ tg.url('/') }}">Home</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li class="pull-right"><a href="{{ tg.url('/logout_handler') }}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row-fluid">
                <div class="span2">
                    <div class="well sidebar-nav">
                        {{ sidebar() }}
                    </div>
                </div>
                <div class="span9">
                    <div id="content_wrap" class="well">
                        <h1>Hello World!!</h1>
                        <p>This is the Administration System of PanjieSW Blog.</p>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{ tg.url('/javascript/jquery-1.7.1.min.js') }}" ></script>
        <script type="text/javascript" src="{{ tg.url('/javascript/bootstrap.min.js') }}" ></script>
        <script type="text/javascript">
            $(function(){
                var last_active;
                $('.sidelink').click(function(event){
                    var url = this.href;
                    if (last_active)    last_active.removeClass("active");
                    $.get(
                            url,
                            function (data) {
                                $('#content_wrap').html(data);
                            }
                    );
                    $(this).parent().addClass("active");
                    last_active = $(this).parent();
                    return false;
                });

                $('.table thead tr th a').live("click", function(event){
                    var url = this.href;
                    $.get(
                            url,
                            function (data) {
                                $('#content_wrap').html(data);
                            }
                    );
                    return false;
                });

                $('#btn_edit,#btn_new').live("click",function(event){
                    var url = this.href;
                    $.get(
                            url,
                            function(data) {
                                $('#content_wrap').html(data);
                                $('input:submit').remove();
                                $('input#sx__id').hide();
                                $('<button>').attr({
                                    type:'submit',
                                    id:'submit',
                                    name:'submit',
                                    class:'btn btn-primary'
                                }).html('Save').appendTo('form');
                            }
                    );
                    return false;
                });

                $('#back_one').live("click",function(event){
                    var url = this.href;
                    $.get(
                            url,
                            function(data) {
                                $('#content_wrap').html(data);
                            }
                    );
                    return false;
                });

                $('.crd_new > form, .crd_edit > form').live("submit", function(){
                    var action = this.action;
                    $.post(
                            action,
                            $(this).serialize()+"&groups=4f980af95e3518a113edccdb",
                            function(data) {
                                if (data != "success"){
                                    $('#content_wrap').html(data);
                                    $('input:submit').remove();
                                    $('input#sx__id').hide();
                                    $('<button>').attr({
                                        type:'submit',
                                        id:'submit',
                                        name:'submit',
                                        class:'btn btn-primary'
                                    }).html('Save').appendTo('form');
                                    $('form').attr('action',action)
                                    $("tbody tr").addClass("control-group");
                                }else {
                                    $.get(
                                            action,
                                            function(data) {
                                                $('#content_wrap').html(data);
                                            }
                                    );
                                }
                            }
                    )
                    return false;
                })
            })
        </script>
    </body>
</html>